{% load instagram_tags %}


<div class="card">
    <div class="card-header">
        <img src="{{ post.author.avatar_url }}" style="width: 32px; height: 32px;" />
        <a href="{% url "instagram:user_page" post.author.username %}">
            {{ post.author.name }}
        </a>
    </div>

    <div class="card-body">
        <img src="{{ post.photo.url }}" style="width: 100%;" />
        {% for tag in post.tag_set.all %}
            <span class="badge bg-primary">
                #{{ tag.name }}
            </span>
        {% endfor %}
    </div>

    <div class="card-footer">
        
        {# {{ post.is_like_user(user) }}   지원하지않는 template 임. 인수를 넘겨주려면 template 를 새로 만들어서 등록해야됨. #}

        {# {{ post|is_like_user:user }} #} {# 첫번째 인자|함수:두번째 이후 부터의 인자들#}
        
        {% if post|is_like_user:user %}
            {# 좋아요 일 경우#}
            <a href="{% url "instagram:post_unlike" post.pk %}" style="color: inherit;">
                <i class="fas fa-heart"></i>
            </a>
        {% else %}
            {# 좋아요가 아닐 경우 #}
            <a href="{% url "instagram:post_like" post.pk %}" style="color: inherit;">
                <i class="far fa-heart"></i>
            </a>
        {% endif %}
    </div>
</div>